/* ------------------------------------------------------------------------
[Typografi]

Overskrifter:	"Corben", serif;
Brødtekst:		"Baskervville", serif;

[Farve koder]

Mørkegrøn   #61795A
Lys Grøn    #44C466
Beige       #EEE5DF
Hvid        #fff

------------------------------------------------------------------------ */
@use 'partial';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/*styling af header og nav*/

header{
    max-height: 15vh;
    width: 100vw;
    background-color: partial.$primary-color;
}

nav{
    display: flex;

        img{
            max-width: 7.5%;
            height: auto;
            padding-left: 2vw;
            justify-content: left;
        }        

        ul{
            list-style-type: none;
            display: flex;
            justify-content: right;

            a{
                text-decoration: none;
                color: #fff;
                font-size: 25px;
                font-family: partial.$overskrift-font;
                padding: partial.$padding;
                margin: partial.$padding;

                &:hover{
                    color: partial.$logo-color;
                }
            }
    }
}

.active{
    color: partial.$logo-color;
}

/* styling af overskrifter */

h1{
    font-size: 70px;
    font-family: partial.$overskrift-font;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-size: 50px;
    font-family: partial.$overskrift-font;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

p{
    font-size: 25px;
    font-family: partial.$tekst-font;
    color: #000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 90px;
}


