@charset "UTF-8";
/* ------------------------------------------------------------------------
[Typografi]

Overskrifter:	"Corben", serif;
Brødtekst:		"Baskervville", serif;

[Farve koder]

Mørkegrøn   #61795A
Lys Grøn    #44C466
Beige       #EEE5DF
Hvid        #fff

------------------------------------------------------------------------ */
/*Variabler*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* mobil navigation */
.burger-menu .fa-bars {
  display: none;
  cursor: pointer;
}
.burger-menu a {
  display: none;
}

.toggleShow {
  display: flex !important; /*important overskriver alt, så den skal bruges forsigtig*/
  flex-direction: column;
}

/*styling af header og nav*/
header {
  max-height: 15vh;
  width: 100vw;
  background-color: #61795A;
}
header nav {
  display: flex;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  width: 100%;
  gap: 3%;
  margin-right: 20px;
  margin-top: 40px;
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: "Corben", serif;
  padding: 0.5em;
  margin: 0.5em;
}
header nav ul a:hover {
  color: #44C466;
}
header nav img {
  max-width: 7.5%;
  height: auto;
  padding-left: 2vw;
  justify-content: left;
}

.active {
  color: #44C466;
}

/* styling af overskrifter */
h1 {
  font-size: 70px;
  font-family: "Corben", serif;
  color: #000;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
  font-family: "Corben", serif;
  color: #000;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  background-color: #EEE5DF;
  color: #61795A;
  font-family: "Corben", serif;
  font-size: 25px;
  text-align: center;
  margin: 0px auto;
}

p {
  font-size: 25px;
  font-family: "Baskervville", serif;
  color: #000;
  text-align: center;
  margin-top: 0px;
}

/* service bokse */
.kategorier {
  display: flex;
  justify-content: space-between;
}
.kategorier .sundhed-boks, .kategorier .workout-boks, .kategorier .pleje-boks {
  background-color: #EEE5DF;
  width: 400px;
  height: 600px;
  margin: 2em auto;
  border: 4px solid #61795A;
  border-radius: 5px;
}
.kategorier .sundhed-boks h3, .kategorier .workout-boks h3, .kategorier .pleje-boks h3 {
  background-color: #61795A;
  height: 50%;
  color: #fff;
  font-size: 40px;
}
.kategorier .sundhed-boks p, .kategorier .workout-boks p, .kategorier .pleje-boks p {
  font-size: 20px;
  font-family: "Baskervville", serif;
  color: #000;
  text-align: center;
  line-height: 1.5;
  padding-left: 3px;
  padding-right: 3px;
}
.kategorier .sundhed-boks .knap, .kategorier .workout-boks .knap, .kategorier .pleje-boks .knap {
  margin-top: 50px;
  background-color: #61795A;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 0.8em;
  border-radius: 5px;
}
.kategorier .sundhed-boks .knap a, .kategorier .workout-boks .knap a, .kategorier .pleje-boks .knap a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}
.kategorier .sundhed-boks .knap:hover, .kategorier .workout-boks .knap:hover, .kategorier .pleje-boks .knap:hover {
  background-color: #44C466;
}

/*hunderace bokse*/
main .beige-boks {
  background-color: #EEE5DF;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

/* .scrollx */
.scrollx {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  overflow-x: scroll;
  max-width: 100vw;
  background-color: #EEE5DF;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
}
.scrollx article {
  background-color: #EEE5DF;
  width: 400px;
  height: 650px;
  margin: 2em auto;
  border: 4px solid #61795A;
  border-radius: 5px;
}
.scrollx article img {
  width: 100%;
  height: auto;
  display: block;
}
.scrollx article p {
  font-size: 16px;
  font-family: "Baskervville", serif;
  color: #000;
  text-align: center;
  line-height: 1.5;
}
.scrollx article .knap {
  margin-top: 50px;
  background-color: #61795A;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 0.8em;
  border-radius: 5px;
}
.scrollx article .knap a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}
.scrollx article .knap:hover {
  background-color: #44C466;
}
.scrollx .se-alle {
  background-color: #61795A;
  width: 400px;
  height: 650px;
  margin: 2em auto;
  border: 4px solid #61795A;
  border-radius: 5px;
}
.scrollx .se-alle h3 {
  color: #fff;
  background-color: transparent;
  font-size: 50px;
  padding-top: 250px;
  align-items: center;
  line-height: 1.3;
}

/* styling af hold bokse */
.hold-boks {
  background-color: #61795A;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}
.hold-boks h2 {
  color: #fff;
}

.hold {
  display: flex;
  justify-content: space-between;
}
.hold .hold-boks1, .hold .hold-boks2, .hold .hold-boks3 {
  background-color: #EEE5DF;
  width: 400px;
  height: 450px;
  margin: 2em auto;
  border: 4px solid #61795A;
  border-radius: 20px;
}
.hold .hold-boks1 h3, .hold .hold-boks2 h3, .hold .hold-boks3 h3 {
  background-color: #44C466;
  height: 15%;
  color: #fff;
  font-size: 40px;
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 50px;
}
.hold .hold-boks1 p, .hold .hold-boks2 p, .hold .hold-boks3 p {
  font-size: 20px;
  font-family: "Baskervville", serif;
  color: #000;
  text-align: center;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
}
.hold .hold-boks1 .knap, .hold .hold-boks2 .knap, .hold .hold-boks3 .knap {
  margin-top: 80px;
  background-color: #44C466;
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 0.8em;
  border-radius: 5px;
  margin-left: 70px;
}
.hold .hold-boks1 .knap a, .hold .hold-boks2 .knap a, .hold .hold-boks3 .knap a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}
.hold .hold-boks1 .knap:hover, .hold .hold-boks2 .knap:hover, .hold .hold-boks3 .knap:hover {
  background-color: #61795A;
}

/* styling af hunderace side*/
.hunderacer {
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
  background-color: #EEE5DF;
}
.hunderacer article {
  background-color: #EEE5DF;
  width: 400px;
  height: 650px;
  margin: 2em auto;
  border: 4px solid #61795A;
  border-radius: 5px;
}
.hunderacer article img {
  width: 100%;
  height: auto;
  display: block;
}
.hunderacer article p {
  font-size: 16px;
  font-family: "Baskervville", serif;
  color: #000;
  text-align: center;
  line-height: 1.5;
}
.hunderacer article .knap {
  margin-top: 50px;
  background-color: #61795A;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 0.8em;
  border-radius: 5px;
}
.hunderacer article .knap a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}
.hunderacer article .knap:hover {
  background-color: #44C466;
}

/*styling af kategori side*/
.kategori-billede {
  width: 100vw;
  height: auto;
}

.tekstindhold {
  margin: 100px 300px;
}
.tekstindhold h2 {
  text-align: left;
  font-size: 30px;
}
.tekstindhold p {
  text-align: left;
  font-size: 20px;
  line-height: 2;
}

footer {
  height: 30vh;
  width: 100vw;
  background-image: url(img/footer-baggrund.png);
}
footer nav {
  display: flex;
  padding-top: 50px;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8%;
}
footer nav ul a {
  color: #fff;
  font-size: 25px;
  font-family: "Corben", serif;
  padding: 0.5em;
  margin: 0.5em;
}

.kontakt-footer {
  margin-top: 50px;
}
.kontakt-footer a {
  color: #fff;
  font-size: 18px;
  font-family: "Baskervville", serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/*** MOBIL ***/
@media screen and (max-width: 900px) {
  header {
    display: inline;
  }
  .burger-menu {
    background-color: #61795A;
    height: 10vh;
  }
  .burger-menu .fa-bars {
    display: flex;
    margin-top: 40px;
    margin-right: 5vw;
  }
  .burger-menu a {
    display: block;
  }
  .burger-menu a img {
    max-width: 20%;
    height: auto;
  }
  .desktop-nav {
    display: none;
    height: auto;
    border-top: 4px solid #61795A;
    background-color: #61795A;
  }
  .desktop-nav img {
    display: none;
  }
  .desktop-nav ul {
    flex-direction: column;
  }
  .desktop-nav li {
    display: flex;
  }
  h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  /* service bokse */
  .kategorier {
    display: flex;
    flex-direction: column;
  }
  .hunderacer {
    display: flex;
    flex-direction: column;
  }
  /* footer */
  footer {
    height: 50vh;
  }
  footer nav {
    display: flex;
    padding-top: 50px;
  }
  footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */