/* ------------------------------------------------------------------------
[Typografi]

Overskrifter:	"Corben", serif;
Brødtekst:		"Baskervville", serif;

[Farve koder]

Mørkegrøn   #61795A
Lys Grøn    #44C466
Beige       #EEE5DF
Hvid        #fff

------------------------------------------------------------------------ */
@use 'partial';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* mobil navigation */

.burger-menu{
    .fa-bars{
        display: none;
        cursor: pointer;
    }

    a{
        display: none;
    }
}

.toggleShow{
    display: flex !important; /*important overskriver alt, så den skal bruges forsigtig*/
    flex-direction: column;
}

/*styling af header og nav*/

header{
    max-height: 15vh;
    width: 100vw;
    background-color: partial.$primary-color;

    nav{
        display: flex;        
    
            ul{
                list-style-type: none;
                display: flex;
                justify-content: right;
                width: 100%;
                gap: 3%;
                margin-right: 20px;
                margin-top: 40px;
    
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 25px;
                    font-family: partial.$overskrift-font;
                    padding: partial.$padding;
                    margin: partial.$padding;
    
                    &:hover{
                        color: partial.$logo-color;
                    }

                }
        }

        img{
            max-width: 7.5%;
            height: auto;
            padding-left: 2vw;
            justify-content: left;
        }
    }
}

.active{
    color: partial.$logo-color;
}

/* styling af overskrifter */

h1{
    font-size: 70px;
    font-family: partial.$overskrift-font;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-size: 50px;
    font-family: partial.$overskrift-font;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}

h3{
    background-color: partial.$secondary-color;
    color: partial.$primary-color;
    font-family: partial.$overskrift-font;
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
   
}

p{
    font-size: 25px;
    font-family: partial.$tekst-font;
    color: #000;
    text-align: center;
    margin-top: 0px;
}

/* service bokse */
.kategorier{
    display: flex;
    justify-content: space-between;

    .sundhed-boks, .workout-boks, .pleje-boks{
        @include partial.kategori-box;

            h3{
                background-color: partial.$primary-color;
                height: 50%;
                color: #fff;
                font-size: 40px;
            }

            p{
                font-size: 20px;
                font-family: partial.$tekst-font;
                color: #000;
                text-align: center;
                line-height: 1.5;
                padding-left: 3px;
                padding-right: 3px;
            }

            .knap{
                margin-top: 50px;
                background-color: partial.$primary-color;
                width: 80%;
                display: flex;
                justify-content: center;
                margin-left: 30px;
                padding: 0.8em;
                border-radius: 5px;
    
    
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 25px;
                    text-align: center;
                }
    
                &:hover{
                    background-color: partial.$logo-color;
                }
            }
    }

}

/*hunderace bokse*/
main{
        .beige-boks{
            background-color: partial.$secondary-color;
            width: 100%;
            height: auto;
            margin-bottom: 10vh;
        }
}

  /* .scrollx */
  .scrollx {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: scroll;
    max-width: 100vw;
    background-color: partial.$secondary-color;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;


    article {
        @include partial.race-box;
     
    
            img{
                width: 100%;
                height: auto;
                display: block;
            }
    
            p{
                font-size: 16px;
                font-family: partial.$tekst-font;
                color: #000;
                text-align: center;
                line-height: 1.5;
            }
    
            .knap{
                margin-top: 50px;
                background-color: partial.$primary-color;
                width: 80%;
                display: flex;
                justify-content: center;
                margin-left: 30px;
                padding: 0.8em;
                border-radius: 5px;
    
    
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 25px;
                    text-align: center;
                }
    
                &:hover{
                    background-color: partial.$logo-color;
                }
            }
        
    }

    .se-alle{
        background-color: partial.$primary-color;
        width: 400px;
        height: 650px;
        margin: 2em auto;
        border: 4px solid #61795A;
        border-radius: 5px;
    
        h3{
            color: #fff;
            background-color: transparent;
            font-size: 50px;
            padding-top: 250px;
            align-items: center;
            line-height: 1.3;
        }
    }
}

/* styling af hold bokse */
.hold-boks{
        background-color: partial.$primary-color;
        width: 100%;
        height: auto;
        margin-bottom: 10vh;

        h2{
            color: #fff;
        }
}

.hold{
    display: flex;
    justify-content: space-between;

    .hold-boks1, .hold-boks2, .hold-boks3{
        background-color: #EEE5DF;
        width: 400px;
        height: 450px;
        margin: 2em auto;
        border: 4px solid #61795A;
        border-radius: 20px;

            h3{
                background-color: partial.$logo-color;
                height: 15%;
                color: #fff;
                font-size: 40px;
                border-radius: 16px 16px 0px 0px;
                margin-bottom: 50px;
            }

            p{
                font-size: 20px;
                font-family: partial.$tekst-font;
                color: #000;
                text-align: center;
                line-height: 1.5;
                padding-left: 10px;
                padding-right: 10px;
            }

            .knap{
                margin-top: 80px;
                background-color: partial.$logo-color;
                width: 60%;
                display: flex;
                justify-content: center;
                padding: 0.8em;
                border-radius: 5px;
                margin-left: 70px;    
    
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 25px;
                    text-align: center;
                }
    
                &:hover{
                    background-color: partial.$primary-color;
                }
            }
    }

}

/* styling af hunderace side*/
.hunderacer {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    background-color: partial.$secondary-color;

    article {
        @include partial.race-box;
     
            img{
                width: 100%;
                height: auto;
                display: block;
            }

            p{
                font-size: 16px;
                font-family: partial.$tekst-font;
                color: #000;
                text-align: center;
                line-height: 1.5;
            }
    
            .knap{
                margin-top: 50px;
                background-color: partial.$primary-color;
                width: 80%;
                display: flex;
                justify-content: center;
                margin-left: 30px;
                padding: 0.8em;
                border-radius: 5px;
    
    
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 25px;
                    text-align: center;
                }
    
                &:hover{
                    background-color: partial.$logo-color;
                }
            }
        
    }
}


/*styling af kategori side*/
.kategori-billede{
    width: 100vw;
    height: auto;
}

.tekstindhold{
    margin: 100px 300px;

    h2{
        text-align: left;
        font-size: 30px;
    }

    p{
        text-align: left;
        font-size: 20px;
        line-height: 2;
    }

}



footer{
    height: 30vh;
    width: 100vw;
    background-image: url(img/footer-baggrund.png);

    nav{
        display: flex; 
        padding-top: 50px;    
    
            ul{
                list-style-type: none;
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 8%;

                a{
                    color: #fff;
                    font-size: 25px;
                    font-family: partial.$overskrift-font;
                    padding: partial.$padding;
                    margin: partial.$padding;
                }
        }
    }
}

.kontakt-footer{
    margin-top: 50px;

    a{
        color: #fff;
        font-size: 18px;
        font-family: partial.$tekst-font;
        text-decoration: none;
        display: flex;
        justify-content: center;

    }
}


/*** MOBIL ***/
@media  screen and (max-width: 900px){
    header{
        display: inline;
    }

    .burger-menu{
        background-color: #61795A;
        height: 10vh;

        .fa-bars{
            display: flex;
            margin-top: 40px;
            margin-right: 5vw;
        }

        a{
            display: block;

            img{
                max-width: 20%;
                height: auto;
            }
        }
    }


    .desktop-nav{
        display: none;
        height: auto;
        border-top: 4px solid partial.$primary-color;
        background-color: partial.$primary-color;

            img{
                display: none;
            }

            ul{
                flex-direction: column;
            }

            li{
                display: flex;
            }
    }

h1{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 20px;
    line-height: 1.5;
}

/* service bokse */
.kategorier{
    display: flex;
    flex-direction: column;
}

.hunderacer{
    display: flex;
    flex-direction: column;
}

.tekstindhold{
    margin: 10px 40px;
}

/* footer */

footer{
    height: 50vh;

    nav{
        display: flex; 
        padding-top: 50px;    
    
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
        }
    }
}

}

